@font-face {
  font-family: 'Gluten';
  src: url('./fonts/gluten.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

html{
  background: url('./asset/loading/fone.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body {
  font-family: 'Gluten';
  overflow-x: hidden;
}
.game_page{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
}
.loading_page{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden; 
  max-height: 100%;
}

.ne_bag_a_fi4a{
  width: 100%;
  height: 500px;
  opacity: 0;
}

.cat_avatar{
  width: 228px;
  height: 211px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.game_view{
  font-size: 30px;
  font-weight: 800;
  color: white;
  margin-top: 50px;
}

.loading_view{
  color: white;
  font-size: 16px;
  margin-top: 12px;
  font-weight: 800;
  margin-bottom: 600px;
}
.welcome_view{
  font-size: 30px;
  font-weight: 800;
  line-height: 39px;
  color: white;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing_view{
  font-size: 30px;
  font-weight: 800;
  line-height: 39px;
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.info_block{
  font-weight: 200;
  margin-top: 15px;
  font-size: 15px;
  line-height: 19.5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding-left: 55px;
  padding-right: 55px;
  width: 292px;
  height: 90px;
}
.cat_lvl_container{
  padding-left: 20px;
  padding-right: 20px;
}
.cats_lvl{
  width: 100%;
}

.lvl_0 {
  width: 100%;
  margin-left: 99px;
}

.cat_lvl{
  width: 130px;
  height: 260px;
}
.current_view{
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin-top: 35px;
  margin-bottom: 20px;
}
.cat_lvl_container{
  margin-top: 35px;
}
.bot_gold{
  margin-top: 29px;
}
.cat_name{
  font-weight: 200;
  font-size: 15px;
  color: white;
  line-height: 19.5px;
  margin-top: 23px;
  display: flex;
  text-align: center;
  text-wrap: nowrap;
  margin-left: -20px;
}
.progress-bar {
  width: 190px;
  height: 16px;
  background-color: #290038;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
}
.progress-bar_lvl {
  width: 190px;
  height: 16px;
  background-color: #290038;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
}
.progress_info_container{
  display: flex;
}
.progress {
  height: 100%;
  background-color: #791C9E;
  transition: width 0.3s ease-in-out;
}
.progress-text {
  position: absolute;
  left: 44%;
  font-size: 14px;
  margin-top: 5px;
  color: white;
  font-weight: 200;
}
.loading {
  text-align: center;
}

.lvl_info_block{
  font-size: 14px;
  color: white;
  font-weight: 200;
  margin-top: 15px;
}

.referal_info{
  background: none;
  border: none;
  font-size: 14px;
  color: white;
  font-weight: 200;
  text-wrap: nowrap;
}

.ref_button{
  all: unset;
}
.info_button{
  all: unset;
  margin-left: 5px;
}

.referal_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}

.invite_button{
  width: 66px;
  height: 20px;
  border: none;
  background: #6A058A;
  color: white;
  font-size: 14px;
  font-weight: 200;
  border-radius: 20px;
  font-family: 'Gluten';
}

.bonus_block{
  margin-top: 40px;
  width: 80%;
  height: 100px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #0F5272;
  border: 2px solid #0F5272;
  border-radius: 10px;
}

.welcome_info{
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 66px;
  padding-right: 66px;
  line-height: 20.8px;
}

.welcome_info_2{
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  line-height: 20.8px;
}
.fraction{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 43px;
  padding-right: 43px;
}
.fraction_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
  border: none;
  background: none;
}
.fraction_icon{
  width: 70px;
  height: 81px;
}
.fraction_icon_flask{
  width: 47px;
  height: 81px;
}

.fraction_text{
  font-size: 16px;
  color: white;
  font-weight: 400;
  margin-top: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #000;
  border-radius: 25px;
  border: #333334 1px solid;
  padding: 15px;
  position: relative;
  width: 220px;
  min-height: 550px;
}

.modal-backdrop_fraction {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_fraction {
  background-color: #000;
  border-radius: 25px;
  border: #333334 1px solid;
  padding: 15px;
  position: relative;
  width: 352px;
  height: 172px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.modal-close:hover {
  background-color: #eee;
}

.close-icon {
  color: white;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 48px;
  font-weight: 100;
  line-height: 24px;
}

.modal_title{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 20.8px;
  margin: 30px 25px 0 25px;
  text-align: center;
  margin-bottom: 15px;
}

.friend_block{
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}
.modal_fraction_view{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
.modal_fraction_buttons{
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
  width: 230px;
}

.modal_fraction_button{
  width: 100px;
  height: 20px;
  border-radius: 20px;
  background: #BD00FF40;
  color: #fff;
  font-size: 16px;
  border: none;
}
.friend_bonus{
  text-align: end;
}

.lawn_tile{
  color: #ff9900;
}
.khao{
  color: #ff9900;
}
.cat_house{
  color: #ff9900;
}
.siamese{
  color: #4558ff;
}
.maine_coon{
  color: #4558ff;
}
.ragdoll{
  color: #8f00ff;
}
.amethyst{
  color: #cf93ff;
}
.peterbald{
  color: #8f00ff;
}
.serengeti{
  color: #8f00ff;
}
.british{
  color: #ff00f5;
}
.bengal{
  color: #ff00f5;
}
.sphynx{
  color: #ff00f5;
}


.game-container {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 0 auto; /* Центрируем по горизонтали */
  background-color: #f0f0f0; /* Замените на ваш фон */
}

.diamond-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 83px;
  z-index: 2;
}

.game{
  background: url('./asset/loading/fone.png');
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.resources{
  display: flex;
  position: absolute;
  margin-left: 27px;
  margin-top: 20px;
}

.resource{
  display: flex;
  width: 95px;
  height: 36px;
  align-items: center;
  margin-right: 5px;
}
.resource_coin{
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}
.menu_item{
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: transparent;
  border: none;
}
.first_menu{
  position: absolute;
  display: flex;
  margin-left: 22px;
  margin-right: 22px;
  justify-content: space-between;
  bottom: 72px;
  width: 88%;
}

.menu_text{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.second_menu{
  position: absolute;
  display: flex;
  margin-left: 22px;
  margin-right: 22px;
  justify-content: space-between;
  bottom: 0px;
  width: 88%;
}

.storage_menu{
  position: absolute;
  width: 390px;
  height: 381px;
  border-radius: 20px;
  background: #000000;
  bottom: 490px;
  z-index: 16;
}

.storage_top{
  width: 220px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}
.storage_top_text{
  color: white;
  font-size: 19px;
  font-weight: 400;
}
.cat_item{
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: #2F2F2F;
  margin-right: 10px;
  margin-bottom: 10px;
}
.storage_items{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.inventory_menu{
  position: absolute;
  width: 390px;
  height: 245px;
  border-radius: 20px;
  background: #000000;
  bottom: 240px;
  z-index: 18;
}
.inventory_top_text{
  color: white;
  font-size: 19px;
  font-weight: 400;
}
.inventory_top{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.inventory_items{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}
.timer{
  width: 340px;
  height: 18px;
  margin-left: 25px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  background: #410102;
  display: flex;
  justify-content: center;
  align-items: center;
}

.income_menu{
  position: absolute;
  width: 390px;
  height: 381px;
  border-radius: 20px;
  background: #000000;
  bottom: 490px;
  z-index: 16;
  margin-left: 20px;
}

.income_top{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}
.close{
  color: white;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 400;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.income_top_text{
  color: white;
  font-size: 19px;
  font-weight: 400;
}

.icome_fisrt_items{
  display: flex;
}
.cat_cross_items{
  margin-left: 25px;
}

.cat_cross_item{
  width: 70px;
  height: 60px;
  background-color: #2F2F2F;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.cat_plus_arrow{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.cat_cross_plus{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.cat_cross_arrow{
  width: 45px;
  height: 30px;
}

.cat_cross_result{
  width: 100px;
  height: 160px;
  background: #2F2F2F;
  border-radius: 20px;
  margin-bottom: 8px;
  color: #636363;
  font-size: 100px;
  font-weight: 400;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cat_cross_soons{
  margin-left: 10px;
}

.cat_cross_soon{
  width: 60px;
  height: 50px;
  background: #2F2F2F;
  color: #636363;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat_cross_boost{
  width: 60px;
  height: 160px;
  background: #2F2F2F;
  border-radius: 20px;
  margin-bottom: 8px;
  color: #636363;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  flex-direction: column;
}

.income_second_items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-left: 25px;
}